.attempts-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  min-height: 14em;
  & > div {
    padding: 0em 2em;
    &:not(:last-child) {
      border-right: 0.06em solid #ddd;
    }
  }
}

@media screen and (max-width: 992px) {
  .attempts-container {
    grid-template-columns: auto;
    min-height: 14em;
    & > div {
      padding: 2em;
      &:not(:last-child) {
        border-bottom: 0.06em solid #ddd;
        border-right: none;
      }
    }
  }
}